<h1>nfad</h1>
   <%= form_for :friends_password, url: friends_passwords_path do |f| %>
   <p>
       <%= button_tag "PressMe", type: :button, :onClick => "sendData()" %>
       <%= f.label :nome_utente %><br>
       <%= f.text_field :name %>
   </p>
   
   <p>
      <%= f.label :password %><br>
      <%= f.text_field :password %>
  </p>
  
  <%end%>
