<h1>Password of friend to decrypt data</h1>
   <%= form_for :friends_password, url: friends_passwords_path do |f| %>
   <p>
       <%= f.label :nome_utente %><br>
       <%= f.text_field :name %>
   </p>
   
   <p>
      <%= f.label :password %><br>
      <%= f.text_field :password %>
  </p>
  
   <p>
       <%= button_tag "Ok", :class => "new-btn", type: :button, :onClick => "sendData()" %>
   </p>
  <%end%>
